openapi: 3.2.0
info:
  title: SimilarWeb REST Traffic and Engagement API
  description: The SimilarWeb REST API provides real-time access to digital intelligence data covering website traffic and engagement metrics, traffic source breakdowns, audience demographics, keyword and search intelligence, mobile app performance, technographic data, e-commerce shopper behavior, company firmographics, and rank tracking. Authentication is via API key and usage is metered on a data credit model.
  version: 4.0.0
  termsOfService: https://www.similarweb.com/corp/legal/terms-of-use/
  contact:
    name: SimilarWeb Support
    url: https://support.similarweb.com/hc/en-us/articles/22089555897373-REST-API
  license:
    name: Proprietary
    url: https://www.similarweb.com/corp/legal/terms-of-use/
servers:
- url: https://api.similarweb.com
  description: SimilarWeb API server
tags:
- name: Traffic and Engagement
  description: Website traffic visits, bounce rate, pages per visit, visit duration
paths:
  /v1/website/{domain_name}/traffic-and-engagement/visits:
    get:
      operationId: getVisitsDesktop
      summary: Visits - Desktop
      description: Retrieve estimated desktop website visits over time. Supports daily, weekly, and monthly granularity with up to 37 months of history.
      tags:
      - Traffic and Engagement
      security:
      - apiKeyQuery: []
      parameters:
      - $ref: '#/components/parameters/domainName'
      - $ref: '#/components/parameters/apiKeyQuery'
      - $ref: '#/components/parameters/country'
      - $ref: '#/components/parameters/granularity'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/mainDomainOnly'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/mtd'
      - $ref: '#/components/parameters/state'
      responses:
        '200':
          description: Visit time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/website/{domain_name}/traffic-and-engagement/bounce-rate:
    get:
      operationId: getBounceRateDesktop
      summary: Bounce Rate - Desktop
      description: Retrieve desktop bounce rate time series for a given domain.
      tags:
      - Traffic and Engagement
      security:
      - apiKeyQuery: []
      parameters:
      - $ref: '#/components/parameters/domainName'
      - $ref: '#/components/parameters/apiKeyQuery'
      - $ref: '#/components/parameters/country'
      - $ref: '#/components/parameters/granularity'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/mainDomainOnly'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/mtd'
      - $ref: '#/components/parameters/state'
      - name: show_verified
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: Display shared Google Analytics verified data
      responses:
        '200':
          description: Bounce rate time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BounceRateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  parameters:
    endDate:
      name: end_date
      in: query
      required: false
      schema:
        type: string
        pattern: ^\d{4}-\d{2}$
        example: 2024-06
      description: End month in YYYY-MM format
    startDate:
      name: start_date
      in: query
      required: false
      schema:
        type: string
        pattern: ^\d{4}-\d{2}$
        example: 2024-01
      description: Start month in YYYY-MM format
    country:
      name: country
      in: query
      required: false
      schema:
        type: string
        example: us
      description: 2-letter ISO 3166-1 alpha-2 country code or "world"
    mainDomainOnly:
      name: main_domain_only
      in: query
      required: false
      schema:
        type: string
        enum:
        - 'true'
        - 'false'
        default: 'false'
      description: Return main domain only (true) or include subdomains (false)
    format:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
      description: Response format
    granularity:
      name: granularity
      in: query
      required: false
      schema:
        type: string
        enum:
        - daily
        - weekly
        - monthly
      description: Temporal resolution for time series data
    apiKeyQuery:
      name: api_key
      in: query
      required: true
      schema:
        type: string
      description: SimilarWeb API authentication key
    mtd:
      name: mtd
      in: query
      required: false
      schema:
        type: string
        enum:
        - 'true'
        - 'false'
      description: Month-to-date mode; use with daily granularity
    state:
      name: state
      in: query
      required: false
      schema:
        type: string
        enum:
        - az
        - ca
        - ga
        - fl
        - il
        - ma
        - mi
        - nj
        - ny
        - nc
        - oh
        - pa
        - tx
        - va
        - wa
      description: US state filter
    domainName:
      name: domain_name
      in: path
      required: true
      schema:
        type: string
        example: example.com
      description: Website domain without 'www.' prefix
  schemas:
    MetaObject:
      type: object
      description: Standard response metadata
      properties:
        request:
          type: object
          description: Echo of the original request parameters
        status:
          type: string
          description: Request status (Success or error)
        last_updated:
          type: string
          format: date
          description: Timestamp of the most recent data update
    VisitsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/MetaObject'
        visits:
          type: array
          description: Time series of visit estimates
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                description: Date of the data point
              visits:
                type: number
                description: Estimated number of visits
    BounceRateResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/MetaObject'
        bounce_rate:
          type: array
          description: Time series of bounce rate values
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              bounce_rate:
                type: number
                description: Bounce rate as a decimal (0-1)
  responses:
    BadRequest:
      description: Bad request - invalid parameters or missing required fields
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: SimilarWeb API key passed as a query parameter
    apiKeyHeader:
      type: apiKey
      in: header
      name: api-key
      description: SimilarWeb API key passed as a request header
externalDocs:
  description: SimilarWeb Developer Documentation
  url: https://developers.similarweb.com/
