openapi: 3.0.3
info:
  title: SimilarWeb Batch Account Lead Enrichment API
  description: The SimilarWeb Batch API is optimized for large-scale bulk data extraction, supporting asynchronous jobs of up to one million domains per request. It delivers data to cloud storage destinations including Amazon S3, Google Cloud Storage, and Snowflake. The API covers website traffic, keywords, referrals, geography, segments, apps, companies, e-commerce, and technographics datasets.
  version: 4.0.0
  termsOfService: https://www.similarweb.com/corp/legal/terms-of-use/
  contact:
    name: SimilarWeb Support
    url: https://support.similarweb.com/hc/en-us/articles/22089555897373-REST-API
  license:
    name: Proprietary
    url: https://www.similarweb.com/corp/legal/terms-of-use/
servers:
- url: https://api.similarweb.com
  description: SimilarWeb API server
tags:
- name: Lead Enrichment
  description: Lead enrichment combining firmographics and web analytics
paths:
  /v1/website/{domain_name}/lead-enrichment/all:
    get:
      operationId: getLeadEnrichment
      summary: Lead Enrichment
      description: Retrieve combined firmographic and web analytics data for a domain including company name, employee range, revenue, headquarters, traffic metrics, device split, top countries, and traffic sources.
      tags:
      - Lead Enrichment
      security:
      - apiKeyQuery: []
      parameters:
      - $ref: '#/components/parameters/domainName'
      - $ref: '#/components/parameters/apiKeyQuery'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/country'
      - $ref: '#/components/parameters/mainDomainOnly'
      - $ref: '#/components/parameters/format'
      - name: show_verified
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: Display shared Google Analytics data
      responses:
        '200':
          description: Lead enrichment data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadEnrichmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    LeadEnrichmentResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/MetaObject'
        global_rank:
          type: integer
        company_name:
          type: string
        employee_range:
          type: string
          description: Employee count band (e.g., "51-200")
        estimated_revenue_in_million_usd:
          type: string
          description: Revenue estimate range
        headquarters:
          type: string
        site_type:
          type: string
        category:
          type: string
        visits:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              visits:
                type: number
        unique_visitors:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              unique_visitors:
                type: number
        pages_per_visit:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              pages_per_visit:
                type: number
        bounce_rate:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              bounce_rate:
                type: number
        avg_visit_duration:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              avg_visit_duration:
                type: number
        desktop_mobile_share:
          type: object
          properties:
            desktop_visit_share:
              type: number
            mobile_visit_share:
              type: number
        top_countries:
          type: array
          items:
            type: object
            properties:
              country:
                type: integer
                description: ISO 3166-1 numeric country code
              share:
                type: number
        traffic_sources:
          type: object
          properties:
            search:
              type: number
            social:
              type: number
            mail:
              type: number
            paid_referrals:
              type: number
            direct:
              type: number
            referrals:
              type: number
    MetaObject:
      type: object
      description: Standard response metadata
      properties:
        request:
          type: object
          description: Echo of the original request parameters
        status:
          type: string
          description: Request status (Success or error)
        last_updated:
          type: string
          format: date
          description: Timestamp of the most recent data update
  parameters:
    startDate:
      name: start_date
      in: query
      required: false
      schema:
        type: string
        pattern: ^\d{4}-\d{2}$
        example: 2024-01
      description: Start month in YYYY-MM format
    mainDomainOnly:
      name: main_domain_only
      in: query
      required: false
      schema:
        type: string
        enum:
        - 'true'
        - 'false'
        default: 'false'
      description: Return main domain only (true) or include subdomains (false)
    endDate:
      name: end_date
      in: query
      required: false
      schema:
        type: string
        pattern: ^\d{4}-\d{2}$
        example: 2024-06
      description: End month in YYYY-MM format
    domainName:
      name: domain_name
      in: path
      required: true
      schema:
        type: string
        example: example.com
      description: Website domain without 'www.' prefix
    format:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
      description: Response format
    apiKeyQuery:
      name: api_key
      in: query
      required: true
      schema:
        type: string
      description: SimilarWeb API authentication key
    country:
      name: country
      in: query
      required: false
      schema:
        type: string
        example: us
      description: 2-letter ISO 3166-1 alpha-2 country code or "world"
  responses:
    BadRequest:
      description: Bad request - invalid parameters or missing required fields
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: api-key
      description: SimilarWeb API key passed as a request header
externalDocs:
  description: SimilarWeb Batch API Documentation
  url: https://developers.similarweb.com/docs/intro-to-the-batch-api-datasets.md
