openapi: 3.2.0
info:
  title: SimilarWeb REST Account API
  description: The SimilarWeb REST API provides real-time access to digital intelligence data covering website traffic and engagement metrics, traffic source breakdowns, audience demographics, keyword and search intelligence, mobile app performance, technographic data, e-commerce shopper behavior, company firmographics, and rank tracking. Authentication is via API key and usage is metered on a data credit model.
  version: 4.0.0
  termsOfService: https://www.similarweb.com/corp/legal/terms-of-use/
  contact:
    name: SimilarWeb Support
    url: https://support.similarweb.com/hc/en-us/articles/22089555897373-REST-API
  license:
    name: Proprietary
    url: https://www.similarweb.com/corp/legal/terms-of-use/
servers:
- url: https://api.similarweb.com
  description: SimilarWeb API server
tags:
- name: Account
  description: Account credits, capabilities, and usage information
paths:
  /v3/batch/credits:
    get:
      operationId: getCredits
      summary: Get Remaining Credits
      description: Retrieve the current remaining data credits available on the account.
      tags:
      - Account
      security:
      - apiKeyHeader: []
      responses:
        '200':
          description: Remaining credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
  /v1/website/{domain_name}/capabilities:
    get:
      operationId: checkCapabilities
      summary: Check Capabilities
      description: Retrieve account capability overview based on subscription.
      tags:
      - Account
      security:
      - apiKeyQuery: []
      parameters:
      - $ref: '#/components/parameters/domainName'
      - $ref: '#/components/parameters/apiKeyQuery'
      responses:
        '200':
          description: Account capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  capabilities:
                    type: array
                    items:
                      type: string
        '400':
          description: Bad request
components:
  schemas:
    CreditsResponse:
      type: object
      properties:
        credits:
          type: integer
          description: Remaining data credits on the account
          example: 1234
  parameters:
    domainName:
      name: domain_name
      in: path
      required: true
      schema:
        type: string
        example: example.com
      description: Website domain without 'www.' prefix
    apiKeyQuery:
      name: api_key
      in: query
      required: true
      schema:
        type: string
      description: SimilarWeb API authentication key
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: SimilarWeb API key passed as a query parameter
    apiKeyHeader:
      type: apiKey
      in: header
      name: api-key
      description: SimilarWeb API key passed as a request header
externalDocs:
  description: SimilarWeb Developer Documentation
  url: https://developers.similarweb.com/
